# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# -------------------------
# Entorno virtual
# -------------------------
env/
venv/
env_demo2026/
.env

# -------------------------
# Django
# -------------------------
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db